<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit CampGround</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=editCampground._id%>?_method=PUT" method="POST" class="validated-form"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%= editCampground.title %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%= editCampground.location %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input class="form-control" type="text" id="price" placeholder="0.00" aria-label="price"
                            name="campground[price]" aria-describedby=" price-label" value="<%= editCampground.price %>"
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required><%= editCampground.description %></textarea>
                </div>
                <div class="mb-3 custom-file">
                    <label for="image" class="form-label">Add More Images...</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                    <label for="" class="custom-file-label"></label>
                </div>
                <div class="mb-3">
                    <%editCampground.images.forEach((img,i)=> {%>
                        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%=img.filename%>" id="image=<%=i%>">
                        </div>
                        <label for="image=<%=i%>">Delete ?</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <div>
                <a href="/campgrounds/<%=editCampground._id%>">Back To Campground</a>
            </div>
        </div>
    </div>